@import "../../vars.css";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background: var(--color-background); 
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px; 
}

.title {
  font-size: 2.8rem; 
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-text);
}

.serviceslist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px; 
  margin-top: 40px;
}

.service {
  background: var(--color-secondary);
  padding: 30px; /* Inner padding */
  border-radius: 15px; /* Softer corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s; 
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.image {
  width: 50px;
  height: 50px;
  object-fit: fit;
  border-radius: 20px;
  margin-bottom: 20px;
}

.serviceTitle {
  font-size: 1.8rem; 
  font-weight: 600; 
  margin-bottom: 10px;
  color: var(--color-text);
}

.description {
  font-size: 1rem; 
  margin-bottom: 20px; 
  color: var(--color-text-light);
  line-height: 1.5; 
}

@media (max-width: 600px) {
  .title {
    font-size: 2.5rem; 
  }
}

